<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">ARKYA by ankita</title>
		<meta name="description" content="ARKYA by ankita" />
		<meta name="keywords" content="Clothing, Fashion, ARKYA, ankita" />
		<meta name="author" content="Ankita" />

		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body data-ng-app="contactApp" class="iblue">
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

		<!--Splitlayout -->
		<div id="splitlayout" class="splitlayout reset-layout">

			<!--Intro-->
			<div class="intro">

				<!--Left Content Intro-->
				<div class="side side-left">

					<!--Particles Container-->
					<div id="particles-js"></div>
					<!--/Particles Container-->

					<!--Main Content-->
					<section class="col-lg-12 content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">

						<!--Logo
						<img class="logo" src="img/logo-grey.png" alt="logo"/>
						<!--/Logo-->

						<div class="table-wrap">
							<div class="tablecell">
								<!--Counter
								<h5>
									<span id="countdown">
										<span class="days-wrap">
										   <span class="days">00</span>
										   <span>days</span>
										</span>
										<span>before launch</span>
									</span>
								</h5>
								<!--/Counter-->

								<!--Ticker-->
								<div class="tlt">
									<ul  class="texts">
										<li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Stay Tuned
										</li>
										<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Winter Collection
										</li>
										<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Coming Soon
										</li>
									</ul>
								</div>
								<!--/Ticker-->

								<p class="lead col-md-9 col-xs-12 margin-top-10 padding-zero">Stay tuned winter collection coming soon.</p>

								<div class="clearfix"></div>

								<!--Notify Button
								<span class="btn btn-default alternate-bg md-trigger margin-top-35" data-modal="modal-2">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Notify me</b>
									</span>
								</span>
								<!--/Notify Button-->

							</div>
						</div>

						<!--Social Icons Wrap
						<div class="social-icons-wrap">
							<ul class="social-icons">
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-behance"></i>
									</a>
								</li>
							</ul>
						</div>
						<!--/Social Icons Wrap-->

						<div class="clearfix"></div>

					</section>
					<!--/Main Content-->

					<div class="side-left-overlay"></div>
				</div>
				<!--/Left Content Intro-->

				<!--Right Content Intro-->
				<div class="side side-right">
					<section class="about-info col-lg-12 padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
						<div class="table-wrap">
							<div class="tablecell">
								<h2>ARKYA</h2>
								<p class="margin-bottom-25">by ANKITA</p>
								<!-- <span id="goto_about" class="btn btn-default margin-top-25">
									<span class="mask"></span>
									<span class="btn-label">
										<b>more info</b>
									</span>
								</span> -->
								<span id="goto_contact" class="btn btn-default alternate-bg margin-top-25">
									<span class="mask"></span>
									<span class="btn-label">
										<b>contact us</b>
									</span>
								</span>
							</div>
						</div>
					</section>
					<div class="copyright-text">
						<p>ARKYA &copy; 2017</p>
					</div>

				</div>
				<!--/Right Content Intro-->
			</div>
			<!--/Intro-->

			<!--About Section
			<div class="page page-left">
				<div  class="page-inner full-height">
					<div class="close-btn"><span>X</span></div>
					<section class="container-fluid about-sec">
						<div class="row">
							<div class="col-sm-6 padding-zero about-img-wrap">
								<div class="about-img"></div>
							</div>
							<div class="col-sm-6 about-content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
								<div class="table-wrap">
									<div class="tablecell">
										<h6>INTRODUCTION</h6>
										<h2>We belive in user centered approach.</h2>
										<p class="margin-bottom-20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
										<p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<!--Services
							<div class="col-lg-12 services-slider-wrap padding-zero">
								<div class="services-slider">
									<div class="services-item slide-1 odd">
										<div class="service-item-wrap">
											<span class="icon pe-7s-light"></span>
											<h4>Branding & <br/> Print</h4>
											<div class="expand-content">
												<div class="excont opacity-hide">
													<h4>Branding & Print</h4>
													<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
												</div>
											</div>
											<div class="toggle-expand">
												<span class="plus">
													<img src="img/plus-light.png" alt="control"/>
												</span>
												<span class="minus opacity-hide">
													<img src="img/minus-dark.png" alt="control"/>
												</span>
											</div>
										</div>
										<div class="service-item-overlay"></div>
									</div>
									<div class="services-item slide-2 even">
										<div class="service-item-wrap">
											<span class="icon pe-7s-monitor"></span>
											<h4>Interface <br/> Design</h4>
											<div class="expand-content">
												<div class="excont opacity-hide">
													<h4>Interface Design</h4>
													<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
												</div>
											</div>
											<div class="toggle-expand">
												<span class="plus">
													<img src="img/plus-light.png" alt="control"/>
												</span>
												<span class="minus opacity-hide">
													<img src="img/minus-dark.png" alt="control"/>
												</span>
											</div>
										</div>
										<div class="service-item-overlay"></div>
									</div>
									<div class="services-item slide-3 odd">
										<div class="service-item-wrap">
											<span class="icon pe-7s-look"></span>
											<h4>Social Media<br/> Marketing</h4>
											<div class="expand-content">
												<div class="excont opacity-hide">
													<h4>Social media marketing</h4>
													<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
												</div>
											</div>
											<div class="toggle-expand">
												<span class="plus">
													<img src="img/plus-light.png" alt="control"/>
												</span>
												<span class="minus opacity-hide">
													<img src="img/minus-dark.png" alt="control"/>
												</span>
											</div>
										</div>
										<div class="service-item-overlay"></div>
									</div>
									<div class="services-item slide-4 even">
										<div class="service-item-wrap">
											<span class="icon pe-7s-rocket"></span>
											<h4>Business<br/> Development</h4>
											<div class="expand-content">
												<div class="excont opacity-hide">
													<h4>Business Development</h4>
													<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Lorem quis bibendum auctor, nisi elit.</p>
												</div>
											</div>
											<div class="toggle-expand">
												<span class="plus">
													<img src="img/plus-light.png" alt="control"/>
												</span>
												<span class="minus opacity-hide">
													<img src="img/minus-dark.png" alt="control"/>
												</span>
											</div>
										</div>
										<div class="service-item-overlay"></div>
									</div>
								</div>
							</div>
							<!--/Services

						</div>
					</section>
					<div class="trans-overlay-dark-about"></div>
				</div>
			</div>
			<!--/About Section-->

			<!--Contact Section-->
			<div class="page page-right">
				<div  class="page-inner full-height">
					<div class="close-btn"><span>X</span></div>

					<!--Contact Sec-->
					<section class="col-lg-12 padding-zero contact-sec">

						<div class="col-md-6 contact-sec-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad sec-pad-sm sec-pad-xs">
							<div class="table-wrap">
								<div class="tablecell">
									<div  data-ng-controller="ContactController">
										<h2 class="margin-bottom-50">Hey&nbsp;<i><span  data-ng-bind="formData.inputName||'there'">there</span></i>, we are happy hear from you.</h2>
										<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="form-horizontal" role="form">

											<!--Contact Form
											<div class="contact-form-wrap">
												<div class="row">
													<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
														<div class="input-wrap">
															<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name*" required>
														</div>
													</div>
													<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
														<div class="input-wrap">
															<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email*" id="inputEmail" name="inputEmail" required>
														</div>
													</div>
													<div class="col-sm-12 form-group margin-bottom-30 " data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
														<div class="input-wrap">
															<textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="Message*" required></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12 col-xs-12 margin-bottom-10">
														<div class="align-center">
															<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
															<span class="mask"></span>
															<span>send message</span>
															</button>
														</div>
													</div>
												</div>
												<span class="instr">* All fields are required</span>
												<p class="form-msg margin-top-10" data-ng-class="result">{{ resultMessage }}</p>-->
												<div class="address-details margin-top-50">
													<div class="row">
														<div class="col-sm-4  margin-bottom-xs-50">
															<span class="icon pe-7s-map-marker"></span>
															<span class="add-tag margin-top-10">visit</span>
															<p class="add-detail margin-top-20">B 34B, Old DLF Colony, Sector 14, Gurugram, HR 122001</p>
														</div>
														<div class="col-sm-4 margin-bottom-xs-50">
															<span class="icon pe-7s-phone"></span>
															<span class="add-tag margin-top-10">phone</span>
															<a href="callto:954788315970" target="_blank" class="add-detail margin-top-20">+919958767768, 0124 4562631</a>
														</div>
														<div class="col-sm-4">
															<span class="icon pe-7s-mail-open-file"></span>
															<span class="add-tag margin-top-10">email</span>
															<a href="mailto:arkyadesigns@gmail.com" target="_blank" class="add-detail margin-top-20">arkyadesigns@gmail.com</a>
														</div>
													</div>
												</div>
											<!--</div>
											<!--/Contact Form-->

										</form>
									</div>
								</div>
							</div>
						</div>

						<!--Map Sec-->
						<div class="col-md-6 padding-zero map-sec-wrap fullpage-height">
							<div id="map_canvas"></div>
						</div>
						<!--/Map Sec-->

					</section>
					<!--/Contact Sec-->

					<div class="trans-overlay-dark-contact"></div>
				</div>
			</div>
			<!--/Contact Section-->

		</div>
		<!-- /Splitlayout -->

		<!--Notify Popup
		<div class="md-modal md-effect-2" id="modal-2">
			<div class="md-content notify-cmpt notify-form-type-3">
				<div class="md-content-wrap notify-wrap">
					<div class="md-close" id="notify_close"><span>X</span></div>
					<h2>Subscribe & Stay Updated</h2>
					<p class="margin-top-xs-20">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
					<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
						<div class="input-wrap">
							<input  data-ng-model="notify" class="col-lg-10  align-center form-control input notify-input-box" name="email" placeholder="Your Email ID"  type="email">
							<div class="clearfix"></div>
							<button type="submit"  class="btn btn-default progress-button btn-submit align-center">
								Notify me
								<span class="mask"></span>
							</button>
						</div>
					</form>
				</div>
				<div class="md-opac"></div>
			</div>
		</div>
		<div class="md-overlay"></div>
		<!--/Notify Popup-->

		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.lettering.js"></script>
		<script src="js/jquery.textillate.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/modelclassie.js"></script>
		<script src="js/modalEffects.js"></script>
		<script src="js/particles.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
		<script src="js/init.js"></script>
		<!-- Start of HubSpot Embed Code -->
		  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4081338.js"></script>
		<!-- End of HubSpot Embed Code -->
	</body>
</html>
